@commons:registry=https://npm.pkg.github.com/e11commons/
@daplatform:registry=https://npm.pkg.github.com/daplatform/

//npm.pkg.github.com/:_authToken=${PACKAGE_READER_NPM_AUTH_TOKEN}

legacy-peer-dependencies=true
